<div class="col-xs-12">
	<div class="jumbotron">
		<form class="form-signin" role="form" >
        <h2>Register</h2>
			<input type="text" ng-model="regName" class="form-control" placeholder="Nickname" required>
			<input type="email" ng-model="regEmail" class="form-control" placeholder="Email address" required>
			<input type="password" ng-model="regPass" class="form-control" placeholder="Password" required>
			<hr>
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()">Register</button>
		</form>
	</div>
</div> 